* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main {
  width: 100%;
  padding: 0 50px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto;
}
.container {
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.about {
  position: relative;
  width: 100%;
  padding: 230px 100px;
  background: #fef5f5;
  outline: 1px solid #b58646;
  outline-offset: -20px;
}
.about__wrap {
  position: relative;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  background-color: #fff;
  padding: 85px 150px 75px;
  text-align: center;
  box-shadow: 2px 12px 50px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.about__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 170px;
}
.about__img--left {
  left: -27%;
}
.about__img--right {
  right: -27%;
}
.about__title {
  font-size: 42px;
  color: #b58646;
  padding-bottom: 10px;
}
.about__subtitle {
  font-size: 16px;
  color: #52595e;
  padding-bottom: 20px;
}
.about__text {
  font-size: 16px;
  padding-bottom: 33px;
}
.button {
  display: inline-block;
  background-color: #b58646;
  max-width: 104px;
  width: 100%;
  padding: 6px;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s ease;
}
.button:hover{
  color: #000;
  background-color: #ffa62d;
}
.angles-top {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}
.angles-top:after {
  content: "";
  position: absolute;
  left: 50px;
  width: 270px;
  height: 230px;
  background-image: url("../images/angle.png");
}
.angles-top:before {
  content: "";
  position: absolute;
  right: 50px;
  width: 270px;
  height: 230px;
  background-image: url("../images/angle.png");
  transform: rotate(90deg);
}
.angles-bottom {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
}
.angles-bottom:after {
  content: "";
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 270px;
  height: 230px;
  background-image: url("../images/angle.png");
  transform: rotate(-90deg);
}
.angles-bottom:before {
  content: "";
  bottom: 0;
  position: absolute;
  right: 50px;
  width: 270px;
  height: 230px;
  background-image: url("../images/angle.png");
  transform: rotate(-180deg);
}
.products {
  position: relative;
  width: 100%;
  padding: 230px 25px;
  background: #fef5f5;
  outline: 1px solid #b58646;
  outline-offset: -20px;
}
.products__title{
  text-align: center;
  font-size: 30px;
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #b58646;
}
.products__wrap {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.products__element {
  width: calc(50% - 16px);
  margin: 8px;
  padding: 34px 89px;
  text-align: center;
  height: auto;
  outline: 1px solid #b58646;
  outline-offset: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.element__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 35px 15px 27px;
  width: 100%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.element__title {
  margin-bottom: 9px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
  .main {
    padding: 0;
  }
  .angles-bottom {
    display: none;
  }
  .angles-top {
    display: none;
  }
  .products {
    padding: 15px;
    outline-offset: -10px;
  }
  .products__title{
    display: block;
  }
  .products__wrap {
    flex-direction: column;
  }
  .products__element {
    position: relative;
    width: 100%;
    margin: 5px 0;
    padding: 35px 35px;
  }
  .products__element:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0,0,0,.3);
    z-index: -1;
   }
  .element__info {
    padding: 21px 15px 21px;
    background-image: none !important;
    border: 0;
  }
  .about {
    padding: 10px;
    outline-offset: -10px;
  }
  .about__wrap {
    box-shadow: none;
    padding: 55px 27px 47px;
    width: 100%;
    max-width: none;
  }
  .about__img {
    display: none;
  }
}